.blog-logo img {
  width: 100%;
  height: auto;
}

.page-title .heading {
  background-image: linear-gradient(
    179deg,
    rgba(0, 0, 0, 1) 35.2%,
    var(--main-color) 150.9%
  );
  padding-top: 120px;

  color: #ffff;
}

.page-title .heading h1,
.page-title nav ol li + li::before {
  color: #ffff;
}

.blog-details {
  background-color: rgba(var(--default-color-rgb), 0.05);
  margin-top: -10%;
}

.page-title .heading {
  padding-bottom: 174px !important;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.blog-details .box {
  background-color: #fff;
  border-radius: 8px;
  height: fit-content;

  margin-top: 10px;
}

.blog-details .box:not(:first-of-type) {
  padding: 30px;
}

.blog-details .box-content {
  padding: 0;
  margin: 0;
}

.blog-details .post-img {
  padding: 30px;
}

.blog-details .box-sidebar {
  height: calc(100vh - 89px);
  top: 107px;
  position: sticky;
  overflow: auto;
}

.emp-btn {
  text-align: center;
  font-weight: 700;
}

.money-num {
  color: #0ab305 !important;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.box::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
