.page-title .heading {
  background-image: linear-gradient(
    179deg,
    rgba(0, 0, 0, 1) 35.2%,
    var(--main-color) 150.9%
  );
  padding-top: 120px;
  color: #ffff;
}

.page-title .heading h1,
.page-title nav ol li + li::before {
  color: #ffff;
}

.blog .posts-list article {
  transition: all 0.3s ease-out;
}

.blog .posts-list article:hover {
  box-shadow: 1px 11px 13px var(--main-color);
}

.border-color-primary {
  border-color: var(--main-color);
}

.btn-check:checked + .btn {
  background-color: var(--main-color) !important;
  color: #ffff !important;
}

.list-item {
  border: 1px solid #ffff;
  border-radius: 10%;
  margin: 0 6px;
}

.hint-item {
  outline: none;
  border: none;
}

.avt-com {
  width: 150px;
  height: 150px;
}
